html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
    padding-left: 30px;
    padding-top: 20px;
  }
  .menuButton {
    width:60px;
    height:60px;
    background-image: url('./assets/menuButton.png');
    background-size: cover;
    
   
   cursor: pointer;
  
   
    
  }